{% extends "base.html" %}

{% block header_block %}

  <title> Swappi! </title>

{% endblock %}

{% block content_block %}

  <div class="row">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
          {% for category in categories %}
            {% if category == categories[0] %}
              <div class="category black-border border-top">

                <div class="row">

                  <div class="col-md-4">

                    <a href="/category/{{category.id}}"> {{ category.name }} </a>

                  </div>

                </div>

              </div>


            {% elif category == categories[-1] %}
              <div class="category black-border border-bottom">

                <div class="row">

                  <div class="col-md-4">

                    <a href="/category/{{category.id}}"> {{ category.name }} </a>

                  </div>

                </div>

              </div>
            {% else %}
              <div class="category black-border border-mid">

                <div class="row">

                  <div class="col-md-4">

                    <a href="/category/{{category.id}}"> {{ category.name }} </a>

                  </div>

                </div>

              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-md-4">

    </div>

  </div>
{% endblock %}
