{% extends "base.html" %}

{% block header_block %}

  <title> Swappi! </title>

{% endblock %}

{% block content_block %}

  <div class="row">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
        
        </div>

        <div class="col-md-4">
          {% for category in categories %}
            <div class="category-center">

              <div class="row">

                <div class="col-md-4"

                  <p> {{ category.name }} </p>

                </div>

              </div>

            </div>

          {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-md-4">

    </div>

  </div>
{% endblock %}
