{% extends "base.html" %}

{% block header_block %}

  <title> Swappi! : Category </title>

{% endblock %}

{% block content_block %}

      <div class="row">

        <div class="col-md-3">

          {% for category in categories %}

            {% if category == categories[0] %}
              <div class="category black-border border-top">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-far-left-field">

                      <a href="/category/{{category.id}}"> {{ category.name }} </a>

                    </div>

                  </div>

                </div>

              </div>


            {% elif category == categories[-1] %}
              <div class="category black-border border-bottom">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-far-left-field">

                      <a href="/category/{{category.id}}"> {{ category.name }} </a>

                    </div>

                  </div>

                </div>

              </div>
            {% else %}
              <div class="category black-border border-mid">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-far-left-field">

                      <a href="/category/{{category.id}}"> {{ category.name }} </a>

                    </div>

                  </div>

                </div>

              </div>
            {% endif %}
          {% endfor %}

        </div>

        <div class="col-md-3">

          {% for item in items %}
            {% if item == items[0] %}

              <div class="category black-border border-top">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-left-field">

                      <a href="/item/{{item.id}}"> {{ item.title }} </a>

                    </div>

                  </div>

                </div>

              </div>

            {% elif item == items[-1] %}

              <div class="category black-border border-bottom">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-left-field">

                      <a href="/item/{{item.id}}"> {{ item.title }} </a>

                    </div>


                  </div>

                </div>

              </div>

            {% else %}
              <div class="category black-border border-mid">

                <div class="row">

                  <div class="col-md-4">

                    <div class="cat-left-field">

                      <a href="/item/{{item.id}}"> {{ item.title }} </a>

                    </div>

                  </div>

                </div>

              </div>
            {% endif %}
          {% endfor %}

        </div>

        <div class="col-md-6">
          <div class="category-center">
            <div class="item-space">

              <div class="row">

                <div class="col-md-6">

                  <div class="item-title">

                    {{ item_title }}
                    Posted by: {{ item_poster }}

                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-md-8">

                  <div class="item-description">

                    Description:
                    {{ item_desc }}

                    Will Swap For:
                    {{ swap_for }}

                  </div>

                  {% if owner %}

                    <div class="item-view-edit">
                      <a href="/edit-item/{{item_id}}"><button> Edit Item </button></a>
                      <a href="/delete-item/{{item_id}}"><button> Delete Item </button></a>

                    </div>

                  {% endif %}

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

{% endblock %}
