{% extends "base.html" %}

{% block header_block %}

  <title> Swappi! </title>
  <meta name="google-signin-client_id" content="973477618863-32d60mluresdss1melcrqmpui0qiq3p4.apps.googleusercontent.com">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}


{% block content_block %}

  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <div id="result"></div>
  <script>
    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/auth');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
      };
      xhr.send('idtoken=' + id_token);

    }

  </script>

  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/deauth');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('logout=True')
        xhr.onreadystatechange = function () {
          console.log(this.responseText);
        };
      });
    }
  </script>


{% endblock %}
